aiohttp==3.6.2
antiorm==1.2.1
asgiref==3.2.7
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
db==0.1.1
db-sqlite3==0.0.1
Django==3.0.5
django-filter==2.2.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
drf-nested-routers==0.91
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
multidict==4.7.5
PyJWT==1.7.1
pylint==2.4.4
pytz==2019.3
requests==2.23.0
six==1.14.0
slackclient==2.5.0
sqlparse==0.3.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.11.2
yarl==1.4.2
